@import '../../colors.less';

.cube {
  height: 20px;
  width: 20px;
  border-radius: 5px;
}

.blue {
  background-color: @knowledge-blue;
}

.green {
  background-color: @knowledge-green;
}

.yellow {
  background-color: @knowledge-yellow;
}

.grey {
  background-color: @knowledge-grey;
}
