body {
  margin: 0;
}

.container {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  padding: 20px;
  background-color: rgb(15, 18, 20);
  color: rgb(182, 190, 201);
  height: 100vh;
}