@text-paragraph: rgb(182, 190, 201);
@background-body: rgb(15, 18, 20);
@text-heading: rgb(246, 247, 248);

@task-border: #333;
@task-estate: rgb(20, 0, 40);
@task-town: rgb(0, 20, 40);

@knowledge-blue: rgb(0, 25, 230);
@knowledge-green: rgb(16, 79, 48);
@knowledge-yellow: rgb(127, 123, 32);
@knowledge-grey: rgb(77, 75, 71);